apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observe
  labels:
    app.kubernetes.io/name: prometheus
data:
  prometheus.yaml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

      - job_name: "hlidskjalf-services"
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names:
                - hlidskjalf
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            regex: (echo|acoustics)
            action: keep
          - source_labels: [__meta_kubernetes_endpoint_port_name]
            regex: http
            action: keep
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_service_name]
            target_label: service
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod

#      - job_name: "otel-collector"
#        static_configs:
#          - targets: ["otel-collector.observe.svc.cluster.local:8889"]
