apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: observe
  labels:
    app.kubernetes.io/name: prometheus
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9090
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: prometheus
